@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
body, html{
  background-color: hsl(217, 54%, 11%);
  height: 100vh;
  scrollbar-width: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Outfit';
  margin: 0;
}
main.card{
  background-color: hsl(216, 50%, 16%);
  border-radius: 5%;
  width: 19em;
  height: 31em;
  padding: 1.5em 0em 1.5em 1.5em;
}

img.nft-image{
  height: 17.2em;
  border-radius: 2%;
}

div.view{
  position: absolute;
  background-color: hsla(178, 100%, 50%, .8);
  width: 17.2em;
  height: 17.2em;
  border-radius: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity .4s ease-in-out;
  transform: translate(0%, -100%);
}

div.view:hover{
  cursor: pointer;
  opacity: 1;
}

h1.nft-title{
  color: hsl(100, 100%, 100%);
  font-weight: 600;
  font-size: 1.35em;
  margin-top: .8em;
}

h1.nft-title:hover, span.name:hover{
  color: hsla(178, 100%, 50%, .9);
  cursor: pointer;
}

p.nft-description{
  color: hsl(212, 24%, 61%);
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0;
}

div.nft-data{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: .12em solid hsl(215, 32%, 27%);
  width: 17.5em;
  padding-top: .5em;
  font-weight: 600;
  font-size: .95em;
}

p.nft-price, p.nft-time{
  display: flex;
  align-items: center;
}

img.ethereum, img.nft-time-img{
  padding-right: .4em;
}

p.nft-price{
  color: hsla(178, 100%, 50%, .8);
}

p.nft-time{
  color: hsl(212, 24%, 61%);
}

div.circle{
  height: 2em;
  width: 2em;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
}

div.user{
  padding-top: .5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 13.6em;
  margin: 0;
}

img.nft-creator-image{
  padding-left: 1px;
  padding-top: 1px;
  height: 1.9em;
  width: 1.9em;
}

p.nft-creator{
  color: hsla(0, 0%, 100%, .6);
  font-weight: 300;
  right: 10em;
  font-size: .94em;
}

span.name{
  padding-left: 3px;
  color: hsl(0, 0%, 100%);
}